body{
    background-image: url(img/noir2.jpg);
    
}

/* Navbar */
header{
    position: fixed;
    width: 100%;
    top: -35px;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 25px 15px;
    transition-duration: .3s;
    }
header p{
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #2ECC71;
    padding-left: 130px;
}
span{
    color: white;
}
header img {
    width: 40px;
    display: none;
}
.nav-links{
    display: flex;
    text-align: center;
   

}

.nav-links li{
    position: relative;
    list-style-type: none;
 
}
.nav-links a{
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    
    
}
.nav-links a::after{
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.nav-links a:hover::after{
    width: 100%;
}
.nav-links a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Cont Section */
.corps{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grand{
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero{
    
     background-color: #3B4D42;
     display: inline-block;
     height: 600px;
     width: 500px;
     margin-left: 10%;
     border-radius: 5%;
 }
 .haut h1{
    font-size:55px ;
    
 }
 .cont input{
       margin-left: 5%;
       margin-top: 5%;
       border-color: #2ECC71;
       border-radius: 40px 40px 40px 40px;
       width: 350px;
       height: 40px;
 
 }
 textarea{
     margin: 7%;
     border: solid 3px;
     border-color: #2ECC71;
     border-radius: 40px 40px 40px 40px;
     width: 350px;
     height: 200px;
 }
 button{
     border-radius: 50px 60px 60px 50px;
     background-color: #2ECC71;
     width: 100px;
     height: 50px;
     margin-left: 15%;
 }
 .haut{
     
     color: #2ECC71;
    text-align: center;
 }
 .bas{
     color: white;
     padding-left: 50px;
     margin-top: 15%;
     font-size: 30px;
   
 }
 .bas ul li{
    list-style-type: none;
 }
.section-3 a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: rgba(0,0,0,0.5);
    margin-bottom: 35px;
    margin-top: 10px;
}
.section-3 a:hover{
    transform: scale(1.1);
    background: #2ecc71;
    transform: .4s;
}
 @media screen and (max-width: 940px){
    header{
         padding: 0;
     }
      header .menu-hamb{
         display: block;
     }
     .nav-links{
         position: absolute;
         width: 100%;
         height: 100vh;
         top: 0;
         left: 0;
         position: absolute;
         
         background-color: rgba(83, 92, 156, 0.363);
         backdrop-filter: blur(7px);
         display:flex;
         justify-content: center;
         align-items: center;
         margin-left: -1000%;
         transition: all 0.5s ease;
     }
     .mobile-menu{
         margin-left: 0;
     }
     header ul{
         display: flex;
         flex-direction: column;
         align-items: center;
     }
     header .nav-links li{
         margin: 25px 0;
         font-size: 1.2em;
     }
     
    
    
     header .menu-hamb{
         position: absolute;
         top: 60px;
         left: 210px;
     }
     header p{
         padding-left: 25px;
         padding-top: 18px;
     }
     .corps{
        display: flex;
        flex-wrap: wrap;
    }
     
 }